@font-face {
    font-family: 'Roboto Mono' monospace;
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

.ab1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 22px;
}
